/* ------- Reference: From Code Institute Data Centric Development module ------- */

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h5 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* ------- Media Queries ------- */

@media screen and (max-width: 285px) {
    #main-text {
        font-size: 26px;
    }
}
